opencv-python>=4.9.0.80
diffusers==0.31.0
transformers>=4.49.0   # hunyuanworld need transformers==4.39.3
huggingface_hub[cli]
tokenizers>=0.20.3    # hunyuanworld need tokenizers==0.15.2
accelerate>=1.1.1
pandas==2.0.3
numpy==1.24.4
einops==0.7.0
tqdm==4.66.2
loguru==0.7.2
imageio==2.34.0
imageio-ffmpeg==0.5.1
safetensors==0.4.3
peft>=0.17.0          # hunyuanworld need peft==0.13.2
deepspeed==0.15.1
pyarrow==14.0.1
tensorboard==2.19.0
pyexr==0.5.0
xformer==1.0.1
easydict
ftfy
dashscope
wandb
omegaconf
av
open_clip_torch
starlette
pycocotools
lmdb
matplotlib
sentencepiece
pydantic
scikit-image
huggingface_hub[cli]
clip @ git+https://github.com/openai/CLIP.git
dominate
pycuda
flask
flask-socketio
gradio==4.14.0
gradio_imageslider

