opencv-python>=4.9.0.80
diffusers==0.31.0
transformers
huggingface_hub[cli]
tokenizers
accelerate>=1.1.1
pandas
numpy
einops==0.7.0
tqdm==4.66.2
loguru==0.7.2
imageio==2.34.0
imageio-ffmpeg==0.5.1
safetensors==0.4.3
peft
deepspeed==0.15.1
pyarrow==14.0.1
tensorboard==2.19.0
pyexr==0.5.0
xformer==1.0.1
qwen_vl_utils==0.0.14
easydict
ftfy
dashscope
wandb
omegaconf
av
open_clip_torch
starlette
pycocotools
lmdb
matplotlib
sentencepiece
pydantic
scikit-image
huggingface_hub[cli]
modelscope
dominate
pycuda
flask
flask-socketio
gradio==4.14.0
gradio_imageslider
Pillow
psutil
decord
librosa
